<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Muhammad Hamza</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

  <!-- Custom styles for this template -->
  <link href="album.css" rel="stylesheet">
</head>

<body>

  <main role="main">
    <P>         </P>
<div style="height: 250px">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Muhammad Hamza,</h1>
        <p class="lead text-muted"><code>A Software developer.</code></p>
        <p><a href="#" class="btn btn-primary my-2">Hire now!</a></p>
      </div>
    </section>
</div>

    <div class="album py-5 bg-light">
      <div class="container"/>
        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <a href="{% url 'detail' job.id %}">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ job.image.url }}">
                <div class="card-body">
                  <p class="card-text"> {{ job.summary }}</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>
<hr></hr>
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'jquery-3.3.1.slim.min.js' %}" </script>
  <script src="{% static 'popper.js/1.14.3/umd/popper.min.js' %}"</script>
    <script src="{% static 'js/bootstrap.min.js' %}" </script>
    </body>
    </html>
